.main.mainProfile {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  height: 90vh;
  overflow: scroll;
}
.container-main.ProfileContainer {
    height: fit-content;
    gap: 0px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: smaller;
}

.container-main.FriendsContainer{
  height: fit-content;
  gap: 0px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 40px;
}
.inputContainer.addfriends {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
p {
  margin-block: 0;
}