.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* adjust as needed for space between grid items */
  margin: 20px;
}

.friend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow)
}

.friend-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: gray;
  box-shadow: var(--standard-box-shadow)
}

.friend-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
